In [50]:
symbols = "$*&!@"
codes = []
for symbol in symbols:
    codes.append(ord(symbol))
print(codes)

[36, 42, 38, 33, 64]

In [51]:
symbols = "$*&!@"
codes = [ord(symbol) for symbol in symbols]
print(codes)

[36, 42, 38, 33, 64]

In [52]:
x = '"~$$*&!@'
dummy = [ord(x) for x in x]
print(x)
print(dummy)

"~$$*&!@
[34, 126, 36, 36, 42, 38, 33, 64]

In [53]:
symbols = '"~$$*&!@'
beyond_ascii = [ord(s) for s in symbols if ord(s) > 32]
print(beyond_ascii)

[34, 126, 36, 36, 42, 38, 33, 64]

In [54]:
symbols = '"~$$*&!@'
beyond_ascii = list(filter(lambda c: c > 127, map(ord, symbols)))
print(beyond_ascii, '\n')
print(f"Map function:\n>>> {map(ord, symbols)}")
print(f"List after map:\n>>> {list(map(ord, symbols))}")

[]

Map function:
>>> <map object at 0x7d2839062f20>
List after map:
>>> [34, 126, 36, 36, 42, 38, 33, 64]

In [55]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
tshirts = [(color, size) for color in colors for size in sizes]
print(tshirts)

for color in colors:
  for size in sizes:
    print((color, size))

[('black', 'S'), ('black', 'M'), ('black', 'L'), ('white', 'S'), ('white', 'M'), ('white', 'L')]
('black', 'S')
('black', 'M')
('black', 'L')
('white', 'S')
('white', 'M')
('white', 'L')

In [56]:
symbols = "!#^&&#"
ord_s = tuple(ord(s) for s in symbols if ord(s))
print(ord_s)

(33, 35, 94, 38, 38, 35)

In [57]:
colors = ['black', 'white']
sizes = ['S', 'M', 'L']
for tshirt in ('{} {}'.format(c, s) for s in sizes for c in colors):
    print(tshirt)

black S
white S
black M
white M
black L
white L

In [58]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

for passport in sorted(traveler_ids):
    print('%s/%s' % passport)
    print("{}/{}".format(passport[0], passport[1]))
    print(f"{passport[0]}/{passport[1]}")

BRA/CE342567
BRA/CE342567
BRA/CE342567
ESP/XDA205856
ESP/XDA205856
ESP/XDA205856
USA/31195855
USA/31195855
USA/31195855

In [59]:
for country, _ in traveler_ids:
    print(country)

USA
BRA
ESP

In [60]:
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
print('%s/%s'%passport)

USA/31195855

In [61]:
lax_coordinates = (33.9425, -118.408056)
latitude, longtitiude = lax_coordinates
print(latitiude)
print(longtitude)

NameError: name 'latitiude' is not defined

In [ ]:
a=10; b=20
b, a = a, b
print(a, b)

In [ ]:
divmod(20, 8)

t = (20,8)
divmod(*t)

quotient, remainder = divmod(*t)
quotient, remainder

In [62]:
import os
_, filename = os.path.split('/home/luciano/.ssh/idrsa.pub')
filename

'idrsa.pub'

In [63]:
a, b, *rest = range(5)
print(a, b, rest)

a, b, *rest = range(3)
print(a, b, rest)

a, b, *rest = range(2)
print(a, b, rest)

0 1 [2, 3, 4]
0 1 [2]
0 1 []

In [64]:
a, *body, c, d = range(5)
print(a, body, c, d)

*head, b, c, d = range(5)
print(head, b, c, d)

0 [1, 2] 3 4
[0, 1] 2 3 4

In [65]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35, 139)),
    ('Delhi NCR', 'IN', 21, (28, 77)),
    ('Mexico City', 'MX', 20, (19, -99)),
    ('New York-Newark', 'US', 20, (40, -74)),
    ('Sao Paulo', 'BR', 19, (-23, -46)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'

for name, cc, pop, (lat, longi) in metro_areas:
    if longi <= 0:
        print(fmt.format(name, lat, longi))

                |   lat.    |   long.
Mexico City     |   19.0000 |  -99.0000
New York-Newark |   40.0000 |  -74.0000
Sao Paulo       |  -23.0000 |  -46.0000

In [66]:
from collections import namedtuple
City = namedtuple('City','name country population coordinates')
tokyo = City('Tokyo','JP',36.933,(35.689,139.691))
print(tokyo)
print(tokyo.population)
print(tokyo.coordinates)
print(tokyo[1])

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689, 139.691))
36.933
(35.689, 139.691)
JP

In [67]:
print(City._fields)
LatLong = namedtuple('LatLong','lat long')
delhi_data = ('Delhi NCR','IN',21.935,LatLong(28.613889,77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

for key, value in delhi._asdict().items():
  print(key + ':', value)

('name', 'country', 'population', 'coordinates')
name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

In [68]:
l = [10, 20, 30, 40, 50, 60]
l[:2]

[10, 20]

In [69]:
invoice = """
0.....6.................................40........52...55........
1909 Pimoroni PiBrella         $17.50   3    $52.50
1489 6mm Tactile Switch x20    $4.95    2    $9.90
1510 Panavise Jr. - PV-201     $28.00   1    $28.00
1601 PiTFT Mini Kit 320x240    $34.95   1    $34.95
"""

SKU = slice(0,6)
DESCRIPTION = slice(6,25)
UNIT_PRICE = slice(25,33)
QUANTITY = slice(33,40)
ITEM_TOTAL = slice(40,None)

line_items = invoice.split('\n')[2:]
for item in line_items:
    print(item[UNIT_PRICE], item[DESCRIPTION])

      $1 imoroni PiBrella
20    $4 mm Tactile Switch x
1     $2 anavise Jr. - PV-20
40    $3 iTFT Mini Kit 320x2

In [71]:
l = list(range(10))
l
l[2:5] = [20,30]
l
del l[5:7]
l
del l[5:7]
l[3::2] = [11,22]
l

ValueError: attempt to assign sequence of size 2 to extended slice of size 1

In [74]:
l[2:5] = 100

TypeError: must assign iterable to extended slice

In [ ]:
l[2:5] = [100]
print(l)

In [75]:
l = [1,2,3]
print(l * 5)
print(5 * 'abcd')

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
abcdabcdabcdabcdabcd

In [76]:
board = [['_']*3 for i in range(3)]
print(board)
board[1][2] = 'X'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', '_'], ['_', '_', 'X'], ['_', '_', '_']]

In [77]:
weird_board = [['_']*3]*3
print(weird_board)
weird_board[1][2] = 'O'
print(weird_board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 'O'], ['_', '_', 'O'], ['_', '_', 'O']]

In [78]:
row = ['_']*3
board = []
for i in range(3):
    board.append(row)
print(board)
board[1][2] = 'X'
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]
[['_', '_', 'X'], ['_', '_', 'X'], ['_', '_', 'X']]

In [79]:
board = [['_']*3 for i in range(3)]
print(board)

[['_', '_', '_'], ['_', '_', '_'], ['_', '_', '_']]

In [80]:
l = [1,2,3]
id(l)
l *= 2
print(l)
id(l)

[1, 2, 3, 1, 2, 3]

137611708414528

In [81]:
t = (1,2,3)
id(t)
t *= 2
print(t)
id(t)

(1, 2, 3, 1, 2, 3)

137611724042016

In [85]:
t = (1,2,[30,40])
print(t)
t[2] += [50,60]

(1, 2, [30, 40])

TypeError: 'tuple' object does not support item assignment

In [ ]:
fruits = ['grape', 'raspberry', 'apple', 'banana']
print(sorted(fruits))
print(fruits)
print(sorted(fruits, reverse=True))
print(sorted(fruits, key=len))

In [86]:
sorted(fruits, key=len, reverse=True)
fruits
fruits.sort()
fruits

NameError: name 'fruits' is not defined

In [87]:
from array import array
from random import random
floats = array('d', (random() for i in range(10**7)))
floats[-1]

0.7436765483946384

In [88]:
with open('floats.bin', 'wb') as f:
    floats.tofile(f)

floats2 = array('d')
with open('floats.bin', 'rb') as f:
    floats2.fromfile(f, 10**7)
floats2[-1]

floats == floats2

True

In [89]:
import array
numbers = array.array('h', [-2, -1, 0, 1, 2])
memv = memoryview(numbers)
len(memv)

5

In [ ]:
data = bytearary(b'hello world')
mv = memoryview(data)

print(mv[0])
mv[0] = 72
print(data)

In [90]:
import numpy
a = numpy.arange(12)
a

type(a)

numpy.ndarray

In [91]:
a.shape
a.shape = 3, 4
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [92]:
a[2]
a[2,1]
a[:, 1]

array([1, 5, 9])

In [94]:
a.transpose()

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])