In [1]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [4]:
class Gizmo:
  def __init__(self):
    print('Gizmo id: %d' % id(self))
x = Gizmo()

Gizmo id: 136212004023440

In [5]:
y = Gizmo() * 10

Gizmo id: 136212678179296

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [6]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [7]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles

In [8]:
lewis is charles

True

In [9]:
id(charles), id(lewis)

(136211991646400, 136211991646400)

In [10]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [11]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [12]:
alex is charles

False

In [13]:
t1 = (1,2,[30,40])
t2 = (1,2,[30,40])
t1 == t2, t1 is t2

(True, False)

In [14]:
id(t1[-1])

136211990898496

In [15]:
t1[-1].append(99)
t1, id(t1[-1])

((1, 2, [30, 40, 99]), 136211990898496)

In [16]:
t1 == t2

False

In [17]:
l1 = [3, [66,55,44], (7,8,9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)
print('12:', l2)

l1: [3, [66, 44], (7,8,9), 100]
l2: [3, [66, 44], (7,8,9)]
l2[1] += [33,22]
l2[2] += (10,11)

print('l1:', l1)
print('l2:', l2)

l1: [3, [66, 44], (7, 8, 9), 100]
12: [3, [66, 44], (7, 8, 9)]
l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]
l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [18]:
class Bus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self, name):
    self.passengers.remove(name)

In [19]:
import copy
bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)
id(bus1), id(bus2), id(bus3)

(136212001882192, 136212001884544, 136212001886800)

In [20]:
bus1.drop('Bill')
bus1.passengers, bus2.passengers, bus3.passengers

(['Alice', 'Claire', 'David'],
 ['Alice', 'Claire', 'David'],
 ['Alice', 'Bill', 'Claire', 'David'])

In [21]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(136211990966336, 136211990966336, 136211990956416)

In [22]:
a = [10, 20]
b = [a,30]
a.append(b)
a

[10, 20, [[...], 30]]

In [23]:
c = copy.deepcopy(a)
c

[10, 20, [[...], 30]]

In [24]:
def f(a,b):
  a += b
  return a

In [25]:
x = 1
y = 2
f(x,y), (x,y)

(3, (1, 2))

In [26]:
a = [1,2]
b = [3,4]
f(a,b), (a,b)

([1, 2, 3, 4], ([1, 2, 3, 4], [3, 4]))

In [27]:
t = (10,20)
u = (30, 40)
f(t,u), (t,u)

((10, 20, 30, 40), ((10, 20), (30, 40)))

In [28]:
class HauntedBus:
  def __init__(self, passengers=[]):
    self.passengers = passengers
  def pick(self, name):
    self.passengers.append(name)
  def drop(self, name):
    self.passengers.remove(name)

In [29]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [30]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [31]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [33]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [34]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [35]:
bus2.passengers is bus3.passengers

True

In [36]:
bus1.passengers

['Bill', 'Charlie']

In [37]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [38]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [41]:
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = passengers

  def pick(self, name):
    self.passengers.append(name)

  def drop(self,name):
    self.passengers.remove(name)

In [42]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [47]:
class TwilightBus:
  def __init__(self, passengers=None):
    if passengers is None:
      self.passengers = []
    else:
      self.passengers = list(passengers)

  def pick(self, name):
    self.passengers.append(name)

  def drop(self,name):
    self.passengers.remove

In [48]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [49]:
import weakref
s1 = {1, 2, 3}
s2 = s1
def bye():
  print('Gone with the wind...')
ender = weakref.finalize(s1, bye)
ender.alive

True

In [50]:
del s1
ender.alive

True

In [51]:
s2 = 'spam'

Gone with the wind...

In [52]:
ender.alive

False